# coding: utf-8

"""
    Cisco Intersight OpenAPI specification.

    The Cisco Intersight OpenAPI specification.

    OpenAPI spec version: 1.0.9-1461
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class IamLocalUserPasswordApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def iam_local_user_passwords_moid_patch(self, moid, body, **kwargs):
        """
        Update a 'iam.LocalUserPassword' resource.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.iam_local_user_passwords_moid_patch(moid, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str moid: The Moid of the iamLocalUserPassword instance. (required)
        :param IamLocalUserPassword body: iamLocalUserPassword to update (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.iam_local_user_passwords_moid_patch_with_http_info(moid, body, **kwargs)
        else:
            (data) = self.iam_local_user_passwords_moid_patch_with_http_info(moid, body, **kwargs)
            return data

    def iam_local_user_passwords_moid_patch_with_http_info(self, moid, body, **kwargs):
        """
        Update a 'iam.LocalUserPassword' resource.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.iam_local_user_passwords_moid_patch_with_http_info(moid, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str moid: The Moid of the iamLocalUserPassword instance. (required)
        :param IamLocalUserPassword body: iamLocalUserPassword to update (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['moid', 'body']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method iam_local_user_passwords_moid_patch" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'moid' is set
        if ('moid' not in params) or (params['moid'] is None):
            raise ValueError("Missing the required parameter `moid` when calling `iam_local_user_passwords_moid_patch`")
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `iam_local_user_passwords_moid_patch`")


        collection_formats = {}

        path_params = {}
        if 'moid' in params:
            path_params['Moid'] = params['moid']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/iam/LocalUserPasswords/{Moid}', 'PATCH',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def iam_local_user_passwords_moid_post(self, moid, body, **kwargs):
        """
        Update a 'iam.LocalUserPassword' resource.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.iam_local_user_passwords_moid_post(moid, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str moid: The Moid of the iamLocalUserPassword instance. (required)
        :param IamLocalUserPassword body: iamLocalUserPassword to update (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.iam_local_user_passwords_moid_post_with_http_info(moid, body, **kwargs)
        else:
            (data) = self.iam_local_user_passwords_moid_post_with_http_info(moid, body, **kwargs)
            return data

    def iam_local_user_passwords_moid_post_with_http_info(self, moid, body, **kwargs):
        """
        Update a 'iam.LocalUserPassword' resource.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.iam_local_user_passwords_moid_post_with_http_info(moid, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str moid: The Moid of the iamLocalUserPassword instance. (required)
        :param IamLocalUserPassword body: iamLocalUserPassword to update (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['moid', 'body']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method iam_local_user_passwords_moid_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'moid' is set
        if ('moid' not in params) or (params['moid'] is None):
            raise ValueError("Missing the required parameter `moid` when calling `iam_local_user_passwords_moid_post`")
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `iam_local_user_passwords_moid_post`")


        collection_formats = {}

        path_params = {}
        if 'moid' in params:
            path_params['Moid'] = params['moid']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/iam/LocalUserPasswords/{Moid}', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
